* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #120428;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 32px;
}

.container img {
    height: 50px;
}

.container-ul {
    display: flex;
    gap: 32px;
}

.btn-entrar {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    cursor: pointer;
}
.btn-entrar:hover {
    border-color: #E54A64;
    transition: .3s;
}

.btn-entrar:active {
    transform: scale(0.95);
    transition: .3s;
}

.btn-anunciar-gratis {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #E54A64;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    background: linear-gradient(#E54A64, #FE9851);
    cursor: pointer;
}

.btn-anunciar-gratis:hover {
    border-color: #fff;
    transition: .3s;
}

.btn-anunciar-gratis:active {
    transform: scale(0.95);
    transition: .3s;
}

.video {
    width: 100%;
    top: 0;
    left: 0;
    filter: brightness(30%);
    position: absolute;
    z-index: -100;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-principal {
    padding-left: 80px;
    padding-bottom: 150px;
    padding-top: 32px;
    margin: 0 auto;
}

.h1-titulo {
    background: linear-gradient(45deg, #E54A64, #FE9851);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    max-width: 550px;
    height: 254px;
    font-size: 48px;
}

.titulo-compre {
    font-family: "Oxanium", sans-serif;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
}

.paragrafo-xp-zone {
    font-family: var(--fonte-padrao);
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    width: 469px;
    height: 74px;
    margin-top: -48px;
}

.botao-filtre-sua-cidade {
    font-weight: 500;
    border: 3px solid #fff;
    border-radius: 5px;
    background-color: #2D203F;
    width: 470px;
    height: 60px;
    color: #fff;
    cursor: pointer;
}

.botao-filtre-sua-cidade:hover {
    background-color: #4c3868;
    border-color: #fff;
    transition: .3s;
}

.botao-filtre-sua-cidade:active {
    transform: scale(0.95);
    transition: .3s;
}

.plataformas {
    background: linear-gradient(45deg, #E54A64, #FE9851);
    display: grid;
    grid-template-columns: repeat(2, 200px);
    align-items: center;
    justify-content: center;
    column-gap: 32px;
    row-gap: 32px;
    padding: 12px;
}

.plataformas img {
    width: 200px;
    background-color:#2D203F;
    padding: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.plataformas img:hover {
    box-shadow: #00000067;
    -webkit-box-shadow: 3px 4px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 10px -3px rgba(0,0,0,0.75);
}

.plataformas img:active {
    transform: scale(0.95);
    transition: .3s;
}

.descricao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/background+GOD\ 1.png);
}

.div-descricao {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.kratos {
    width: 1200px;
    height: 800px;
}

.h2-titulo {
    font-family: var(--fonte-destaque);
    font-size: 50px;
    background: linear-gradient(45deg, #E54A64, #FE9851);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.paragrafo-titulo {
    width: 600px;
    padding-right: 48px;
    word-break: break-word;
    font-family: var(--fonte-padrao);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.paragrafo-info {
    font-family: var(--fonte-padrao);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 25px;
}

.botao-anunciar-gratis {
    font-family: var(--fonte-padrao);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border:2px solid #E54A64;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    margin: 25px 5px;
    background: linear-gradient(#E54A64, #FE9851);
    cursor: pointer;
}

.botao-anunciar-gratis:hover {
    border-color: #fff;
    transition: .3s;
}

.botao-anunciar-gratis:active {
    transform: scale(0.95);
    transition: .3s;
}

.descricao-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/background-spider-man.svg);
}

.div-descricao-2 {
    
}

.h3-titulo {
    font-family: var(--fonte-destaque);
    font-size: 50px;
    background: linear-gradient(45deg, #E54A64, #FE9851);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    padding-left: 48px;
}

.paragrafo-titulo-2 {
    word-break: break-word;
    padding-top: 24px;
    font-family: var(--fonte-padrao);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 48px;
}

.imagem-xp-100 {
    width: 550px;
    height: 115px;
    padding-left: 48px;
}

.imagem-spider-man {
    width: 600px;
    height: 800px;
    margin-right: 120px;
}

.descricao-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h4-como-funciona {
    font-family: var(--fonte-destaque);
    font-size: 50px;
    background: linear-gradient(45deg, #E54A64, #FE9851);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    padding-top: 24px;
}

.imagem-como-funciona {
    width: 500px;
    height: 210px;
}

.faca-novos-amigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
    margin-top: 56px;
}
    
.imagem-amigos {
    width: 700px;
    height: 720px;
    padding-left: 170px;
    margin-top: -200px;
}

.div-botao-comunidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao-comunidade {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border:2px solid #E54A64;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    margin-bottom: 32px;
    background: linear-gradient(#E54A64, #FE9851);
    cursor: pointer;
}

.botao-comunidade:hover {
    border-color: #fff;
    transition: .3s;
}

.botao-comunidade:active {
    transform: scale(0.95);
    transition: .3s;
}

.footer-texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 24px;
}
