@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&display=swap');

:root {
    --background-color: #120428;
    --linear-gradient: #E54A64, #FE9851;

    --fonte-destaque: "Oxanium";
    --fonte-padrao: 'Open-Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 32px;
    margin: 32px 80px;
}

.nav-menu {
    display: flex;
    gap: 10px;
}

.imagem-logo {
    height: 50px;
}

.botao-entrar {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    cursor: pointer;
}

.botao-entrar:hover {
    border-color: #E54A64;
}

.botao-anunciar {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: #fff;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    background: linear-gradient(#E54A64, #FE9851);
    cursor: pointer;
}

.principal {
    display: flex;
    align-items: center;
    gap: 32px;
}

.div-principal {
    padding-left: 80px;
    padding-bottom: 150px;
    
}

.h1-titulo {
    font-family: var(--fonte-destaque);
    background: linear-gradient(45deg, #E54A64, #FE9851);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    width: 556px;
    height: 254px;
    font-size: 53px;
}

.titulo-compre {
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
}

.paragrafo-xp-zone {
    color: #fff;
    font-size: 18px;
    width: 469px;
    height: 74px;
    font-weight: 300;
}

.mulher-cyber-punk {
    height: 800px;
}

.botao-filtre-sua-cidade {
    font-family: var(--fonte-padrao);
    border: 3px solid #fff;
    border-radius: 5px;
    background-color: #2D203F;
    width: 470px;
    height: 60px;
    color: #fff;
}

.botao-filtre-sua-cidade:hover {
    background-color: #4c3868;
}

.plataformas {
    display: flex;
    align-items: center;
    padding: 32px 80px;
}

.plataformas-imagens {
    display: flex;
    gap: 32px;
    margin: 0 auto;
}

.ps4 {
    width: 243px;
    height: 51px;
}

.ps4:hover {
    background-color: #2D203F;
    border-radius: 10px;
    border: 2px solid #fff;
}

.xbox-one {
    width: 243px;
    height: 51px; 
}

.xbox-one:hover {
    background-color: #2D203F;
    border-radius: 10px;
    border: 2px solid #fff;
}

.xbox-360 {
    width: 243px;
    height: 51px; 
}

.xbox-360:hover {
    background-color: #2D203F;
    border-radius: 10px;
    border: 2px solid #fff;
}

.nintendo {
    width: 243px;
    height: 51px; 
}

.nintendo:hover {
    background-color: #2D203F;
    border-radius: 10px;
    border: 2px solid #fff;
}

.descricao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(img/background+GOD\ 1.png);
}

.div-descricao {
    margin-bottom: 100px;
    padding-left: 50px;
}

.kratos {
    width: 1200px;
    height: 800px;
}

.h2-titulo {
    font-family: var(--fonte-destaque);
    font-size: 50px;
    background: linear-gradient(45deg, #E54A64, #FE9851);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.paragrafo-titulo {
    word-break: break-word;
    font-family: var(--fonte-padrao);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.paragrafo-info {
    font-family: var(--fonte-padrao);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 25px;
}

.botao-anunciar-gratis {
    font-family: var(--fonte-padrao);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: #fff;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    margin: 25px 0px;
    background: linear-gradient(#E54A64, #FE9851);
    cursor: pointer;
}

.descricao-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(img/background-spider-man.svg);
}

.div-descricao-2 {
    
}

.h3-titulo {
    font-family: var(--fonte-destaque);
    font-size: 50px;
    background: linear-gradient(45deg, #E54A64, #FE9851);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    padding-left: 48px;
}

.paragrafo-titulo-2 {
    word-break: break-word;
    padding-top: 24px;
    font-family: var(--fonte-padrao);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 48px;
}

.imagem-xp-100 {
    width: 550px;
    height: 115px;
    padding-left: 48px;
}

.imagem-spider-man {
    width: 600px;
    height: 800px;
    margin-right: 120px;
}

.descricao-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h4-como-funciona {
    font-family: var(--fonte-destaque);
    font-size: 50px;
    background: linear-gradient(45deg, #E54A64, #FE9851);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    padding-top: 24px;
}

.imagem-como-funciona {
    width: 800px;
    height: 210px;
}

.faca-novos-amigos {
margin-left: 200px;
padding-top: 120px;
}

.imagem-amigos {
    width: 900px;
    height: 720px;
}